*.pyc
*.swp
*.idea
*.DS_Store*
*coverage_html_report*
.coverage
.coverage.*
.python-version
.vscode
__stdout__
docs/_build
build/
proxypid
proxy.log
MANIFEST
coverage_report
test.log
examples/*/local
examples/*/metadata/local.meta
tests/searchcommands_data/log/
tests/searchcommands_data/output/
examples/searchcommands_app/searchcommand_app.log
Test Results*.html
tests/searchcommands/data/app/app.log
splunk_sdk.egg-info/
dist/
examples/searchcommands_app/package/default/commands.conf
examples/searchcommands_app/package/lib/splunklib
tests/searchcommands/apps/app_with_logging_configuration/*.log
*.observed
venv/
.tox
test-reports/
