*.pyc
*.swp
*.idea
*.DS_Store*
*coverage_html_report*
.coverage
.coverage.*
.vscode
__stdout__
docs/_build
build/
proxypid
proxy.log
MANIFEST
coverage_report
test.log
tests/searchcommands_data/log/
tests/searchcommands_data/output/
tests/searchcommands/data/app/app.log
tests/searchcommands/apps/app_with_logging_configuration/*.log
Test Results*.html
splunk_sdk.egg-info/
splunk_sdk_python.egg-info/
dist/
*.observed
venv/
.venv/
.mypy_cache/
.tox
test-reports/
*.code-workspace