*.pyc
*.swp
*.idea
*.DS_Store*
*coverage_html_report*
.coverage
.coverage.*
.python-version
.vscode
__stdout__
docs/_build
build/
proxypid
MANIFEST
coverage_report
Test Results*.html
*.log
splunk_sdk.egg-info/
dist/
*.observed
venv/
.venv/
.tox
test-reports/
