/* This CSS file was modified from the following tutorial */
/*     Creating a form without table    */
/*     Author= "AJAY TALWAR"            */
/*     Email- ajayslide183@gmail.com    */


*{ margin:0; padding:0;}
body{ font:100% normal Arial, Helvetica, sans-serif; background:#161712;}
form,input,select,textarea{margin:0; padding:0;}

/* API RESPONSE CSS */

div.result{
    margin: 0 auto;
    width:95%;
    background:#ddd;
    border:1px solid #262626;
    overflow: auto;
    margin-bottom: 50px;
}

div.result div {
    text-transform:uppercase;
    border-bottom:1px solid #262626;
    font-size:18px;
    padding: 5px;
    color: #FFF5CC;
    text-align:center;
}

div.result div.prettyprint {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* API FORM CSS */ 

div.box{
    margin:0 auto;
    width:95%;
    background:#222;
    border:1px solid #262626;
    margin-bottom: 10px;
}

div.box h1{ 
    color:#FFF5CC;
    font-size:18px;
    text-transform:uppercase;
    padding:5px 5px 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712; 
}

div.box h1 span#api-name{ 
    text-align:left;
}

div.box h1 span#api-method{ 
    text-align:left;
    vertical-align:top;
    float:right;
}

div.box h2{ 
    color:#FFF7D9;
    font-size:14px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712; 
}

div.box label{
    width:100%;
    display: block;
    background:#1C1C1C;
    border-top:1px solid #262626;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;
}
div.box label div{
    width:100%;
}
div.box label span.title {
    display: inline;
    color:#ddd;
    font-size:13px;
    float:left;
    width:20%;
    text-align:left;
    margin-left: 10px;
    margin-top: -5px;
    padding:5px 20px 0 0;
}

div.box label div.param-required{
    display: block;
    color:#888;
    font-size:11px;
    text-align:left;
    margin-right: 5px;
    margin-left: 10px;
    padding:5px 0px 0 0;
}

div.box label div.param-description{
    display: block;
    color:#888;
    font-size:11px;
    text-align:left;
    margin-right: 5px;
    margin-left: 10px;
    padding:5px 0px 0 0;
}

div.box .input_text{
    padding:0px 10px;
    background:#eee;
    color:#111;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333;
    border-right:1px double #333;
    display: block; 
    height: 20px;
    width: 75%;
}

div.box .button
{
    display: block;
    padding:0.2em;
    width: 9em;
    margin: 0px auto;
    background-color: #FF6600;
    color: #000;
    font-weight: bold;
    border: 0.2em solid #E9692C;
} 

/* SERVER INFO CSS */
#api-dropdown-box {
    display: block;
    width: 95%;
    margin: 0px auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#server-info-form {
    width: 95%;
    margin: 0px auto;
    background: #f00;
    padding-left: 1px;
    padding-right: 1px;
}

#server-info-form div.server-info-field {
    width: 10.2%;
    height: 40px;
    border: 0;
    margin: 0;
    padding: 0em;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border:1px solid #262626;
    background:#1C1C1C;
}

#server-info-form div.server-info-field h3 {
    text-transform:uppercase;
    font-size: 0.7em;
    color: #fff;
    width: 100%;
}

#server-info-form div.server-info-field input {
    font-size: 0.8em;
    height: 1.4em;
    color: #222;
    width: 95%;
    margin: 0px auto;
    margin-top: 5px;
}